@font-face {
  font-family: 'niafam-icons';
  src:
    url('fonts/niafam-icons.ttf?23eip7') format('truetype'),
    url('fonts/niafam-icons.woff?23eip7') format('woff'),
    url('fonts/niafam-icons.svg?23eip7#niafam-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'niafam-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.niafam-maps-and-flags:before {
  content: "\e925";
}
.niafam-old-typical-phone:before {
  content: "\e923";
}
.niafam-closed-envelope:before {
  content: "\e924";
}
.niafam-fax:before {
  content: "\e921";
}
.niafam-archive:before {
  content: "\e918";
}
.niafam-arroba:before {
  content: "\e91f";
}
.niafam-user-login:before {
  content: "\e920";
}
.niafam-sitemap:before {
  content: "\e910";
}
.niafam-search:before {
  content: "\e914";
}
.niafam-close:before {
  content: "\e915";
}
.niafam-placeholder:before {
  content: "\e911";
}
.niafam-envelope:before {
  content: "\e912";
}
.niafam-call:before {
  content: "\e913";
}
.niafam-bale:before {
  content: "\e90a";
}
.niafam-bisphon:before {
  content: "\e90b";
}
.niafam-gap:before {
  content: "\e90c";
}
.niafam-eita:before {
  content: "\e90d";
}
.niafam-soroush:before {
  content: "\e90e";
}
.niafam-telegram:before {
  content: "\e90f";
}
.niafam-linkedin:before {
  content: "\e909";
}
.niafam-twitter:before {
  content: "\e908";
}
.niafam-facebook:before {
  content: "\e907";
}
.niafam-instagram:before {
  content: "\e906";
}
.niafam-link:before {
  content: "\e91e";
}
.niafam-niafam-logo:before {
  content: "\e901";
}
.niafam-right-arrow:before {
  content: "\e902";
}
.niafam-up-arrow:before {
  content: "\e903";
}
.niafam-down-arrow:before {
  content: "\e904";
}
.niafam-left-arrow:before {
  content: "\e905";
}
.niafam-rss:before {
  content: "\e900";
}
